<h1>Let's count some words!</h1>
<form action="/word_count">
  <div class="form-group jv-form">
    <label for="word_to_count">Word to count</label>
    <input name="word_to_count" id="word_to_count" type="text" class="jv-input" placeholder="e.g. honey">
  </div>
  <div class="form-group jv-form">
    <label for="words_to_match_to">Your text</label>
    <textarea class="jv-input "name="words_to_match_to" id="words_to_match_to" type="text" cols="100"rows="5" placeholder="e.g. Cover it with honey, stick some money to the honey, now it's covered in money, honey"></textarea>
  </div>
  <button class="btn-success jv-btn" type="submit">Count Away!</button>
</form>
