<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter</title>
    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/darkly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
