<div class="jv-inline">
  
<%if !@word_to_count.empty?() %>
<h2><div class="jv-count"><%= @word_to_count.capitalize() %></div> appears <div class="jv-count"> <%= @count %> </div> time(s) in your text!</h2>
<%else %>
<h2>Please enter a valid word!</h2>
<% end %>

<form action='/'>
    <button class="btn-success jv-tryagain" type="submit">Try Again!</button>
</form>

</div>
