.jv-form textarea, input {
  display:block;
  width:100%;
  margin-bottom: 10px;
}

h1 {
  font-size: 7em;
  text-align: center;
  margin-bottom: 50px;
}

.jv-input {
  font-size: 3em;
}

.jv-btn {
  font-size: 2em;
  padding: 1em;
  text-align: center;
  margin-top: 10px;
}

.jv-tryagain {
  margin-top: 50px;
  font-size: 4em;
  padding: 20px;
}

h2 {

  text-align: center;
  font-size:4.5em;
}

.jv-count {
  display: inline;
  color: #4775FF;
}

.jv-inline {
  top: 300px;
  position: relative;
  text-align: center;
  display: inline;
}
